@import "mixvar.styl"
*
  margin 0
  padding 0
  box-sizing border-box
  font-family "PT Sans Narrow"
html, body
  height 100%
  mp(0,0)
html
  font-size 10px
  +med(480px)
    font-size 8px
body
  overflow auto
#test_bg
  pos(p:fixed,t:0,l:0)
  blok(100%,100%)
#test_bg_border
  outline 0.2rem solid red
  min-height 100%
  position relative
#t1000
  blok(100%,1000px)
#wrap
  {wrapp}
  min-height 100%
  background-color #d0d0d0
  padding-bottom footerPad
#footer_wrap
  blok(100%,footerPad)
  pos(b:0,l:0)
  background #7a7d7f
  {oh}
.wrap
  {wrapp}
.sw
  width 100rem
  +med(tablet)
    width 100%
    min-width 320px
.clear
  blok(100%,c:both)
.mauto
  {mauto}
.mautota
  {mauto}
  display table
.ta_just
  text-align justify
  &:after
    content ''
    display inline-block
    width 100%
.tac,.ta_c
  {tac}
.tar,.ta_r
  {tar}
.tal,.ta_l
  {tal}
.ttn
  {ttn}
.ttl
  {ttl}
.ttu
  {ttu}
.ttc
  {ttc}
.vam
  {vam}
div,ul
  list-style-type none
p
  font(1.4rem)
a
  {tdn}
ul,li
  list-style-type none
.h2
  position relative
  h2
    font(3rem,#151515,1,fw:700,tt: uppercase)
    position relative
    z-index 1
  &:after
    content ''
    blok(100%,100%)
    pos(t:1rem,l:-2rem)
    {bb}
    border 2px solid #86b6d5
    z-index 0
.but_t1
  blok(16.2rem,3.6rem)
  {oh}
  spr(bp:0 -23.4rem)
  {tac}
  cursor pointer
  display inline-block
  mp()
  m(1.3rem,-1.3rem)
  span
    display inline-block
    pt 0.15rem
    font-size 2rem
    text-shadow 0 1px 0 rgba(255,255,255,.75)
    color #183e80
.head_wrap
  wrap()
  background-color #1b1f27
  padding-bottom .9rem
  z-index 15
.head_d1
  blok(f:left)
  mt 0.7rem
  .up_logo
    blok(5.9rem,6.2rem,left)
    spr(bp: 0 -88.6rem)
    mp(2.1rem 0 0 2.9rem)
  .hd1p1
    font(5.2rem,#fff,1,700)
    p(t:1.4rem,l:9.6rem)
    m(0)
  .hd1p2
    font(2.1rem,#fff,1,fw:400)
    display block
    p(l:9.6rem)
  +med(tablet)
    {mcb}
    p(b:2rem)
    .up_logo
      m(l:0,t:2.1rem)
    .hd1p1
    .hd1p2
      padding-left 6.6rem
.head_d2
  blok(f:right)
  m(t:2.8rem)
  @extend .tar
  a
    font(2.2rem,#fff,1)
    .icon1
      blok(3rem,2.2rem)
      spr(bp: 0 -4.7rem)
      m(r:1rem)
  p
    font(2rem,#fff,1)
    m(t:1.7rem)
  +med(tablet)
    {mcb}
    {tac}
    p
      m(t:0.7rem)
.head_d3
  blok(18rem,f:right)
  m(3.2rem 3rem 0 3.5rem)
  {tar}
  a
    font(1.9rem,#fff,1)
    .icon2
      blok(2.5rem,2.5rem)
      spr(bp:0 -13.3rem)
      m(t:-0.7rem,r:0.9rem)
    span
      color #77afd4
  .order_call
    display inline-block
    m(t:1.3rem,r:-0.3rem)
  +med(tablet)
    {mcb}
    {tac}
    margin-bottom 1.5rem
#gen_menu_wrap
  wrap()
  pos(l:0)
  m(t:.9rem)
  .gm_open,.gm_close
    display none
    blok(5.7rem,5.7rem)
    {tac}
    color #fff
    background-color #62a3ce
    font-size 4rem
    cursor pointer
    &:hover
      background-color darken(#62a3ce, 15%)
  +med(tablet)
    display table
    width auto
    .gm_open
      display block
    .gm_close
      pos(t:0,r:-5.7rem)
    .gen_menu
      display none
      ma(0)
      {fl}
      {tal}
      li
        display block
        a
          width 32rem
.gen_menu
  display none
  @extend .mautota
  word-spacing -0.2rem
  {tac}
  width auto
  li
    display inline-block
    a
      display inline-block
      font(2.5rem,#fff,1)
      mp(0,1.6rem 2.8rem)
      background-color #8ec1e3
      &:hover
        transition 1s
        text-shadow 0 0 4px #fff
    &:nth-child(1) a
      background-color #8ec1e3
      transition 1s
      &:hover
        background-color darken(#8ec1e3,20%)
    &:nth-child(2) a
      background-color #77afd4
      transition 1s
      &:hover
        background-color darken(#77afd4,20%)
    &:nth-child(3) a
      background-color #62a3ce
      transition 1s
      &:hover
        background-color darken(#62a3ce,20%)
    &:nth-child(4) a
      background-color #4f97c6
      transition 1s
      &:hover
        background-color darken(#4f97c6,20%)
    &:nth-child(5) a
      background-color #1b88bb
      transition 1s
      &:hover
        background-color darken(#1b88bb,20%)
    &:nth-child(6) a
      background-color #1279a9
      transition 1s
      &:hover
        background-color darken(#1279a9,20%)
#gen_slider
  position relative
  {oh}
  mb -.3rem
  .owl_slider
    position relative
    {oh}
    .owl-controls
      display none
    .oss
      width 100%
      img
        width 100%
      .osscapt
        pos(t:0,l:50%)
        m(t:9.1rem,l:-46.5rem)
        font(2.7rem,#fff,1.2,700,tt:uppercase)
        blok(maw:48rem)
        +med(tablet)
          m(t:4.1rem,l:-19rem)
          font(2.2rem,#fff,1.2,700,tt:uppercase)
          blok(maw:38rem)
        +med(799px)
          m(t:3.1rem,l:-18rem)
          font(2rem,#fff,1.2,700,tt:uppercase)
          blok(maw:36rem)
        +med(480px)
          m(t:2.1rem,l:-13.5rem)
          font(1.5rem,#fff,1.2,700,tt:uppercase)
          blok(maw:27rem)
        +med(379px)
          m(t:1.8rem,l:-11rem)
          font(1.2rem,#fff,1.2,700,tt:uppercase)
          blok(maw:22rem)
  .os_prev,.os_next
    blok(10%,100%)
    z-index 10
    cursor pointer
  .os_prev
    pos(t:0,l:0)
    .os_prev_icon
      blok(2.9rem,5rem)
      pos(t:50%,l:50%)
      ml -1.45rem
      mt -2.5rem
      spr(bp:0 -58rem)
  .os_next
    pos(t:0,r:0)
    .os_next_icon
      blok(2.9rem,5rem)
      pos(t:50%,l:50%)
      ml -1.45rem
      mt -2.5rem
      spr(bp:0 -52.5rem)
#gen_production
  pb 6.5rem
  .gen_production
    border-bottom
    .h2
      mt 4.1rem
      mb 5.1rem
    .gp_list
      mb 4.9rem
      .gpl_item
        position relative
        display inline-block
        height 23rem
        vertical-align top
        mb 1rem
        a
          img
            max-width 100%
          .gpli_c
            pos(t:50%,l:0)
            width 100%
            z-index 4
            span
              {tac}
              display block
              mt -2.5rem
              font(3rem,#fff,1)
          .grad_overlay1, .grad_overlay2
            {ovl}
            z-index 3
          .grad_overlay1
            background-color  rgba(94, 97, 98, 0.65)
          .grad_overlay2
            bim('cross_grad.png',100% 100%)
            opacity 0
          &:hover
            .grad_overlay1
              background-color transparent
              transition 1s
            .grad_overlay2
              opacity 1
              transition 1s
      +med(tablet)
        pa(0 1rem)
        mb 1rem
      +med(540px)
        {tac}
        .gpl_item
          {oh}
          mb 1.5rem
  .gp_info
    {tac}
    .gpi_b
      {w33}
      display inline-block
      vertical-align top
      pa(0 1rem)
      .gpi_p
        font(2rem,#050505,1)
      .gp_icon1
      .gp_icon2
      .gp_icon3
        display inline-block
        {vam}
        mr 0.5rem
      .gp_icon1
        blok(3.7rem,3.7rem)
        spr(0 -27.5rem)
        mt -.5rem
      .gp_icon2
        blok(3.2rem,3rem)
        spr(0 -16.3rem)
      .gp_icon3
        blok(2.9rem,3.1rem)
        spr(0 -19.8rem)
    +med(599px)
      .gpi_b
        width 100%
        pa(0 1rem)
        mb 1.5rem
  +med(599px)
    pb 3rem
#akcii_line
  background-color #54575d
  bim('akcii_bg.png',auto 100%,repeat-x)
  .akcii_body
    .akcii_item
      width 100%
      font(2.5rem,#fff,1)
      padding 1.6rem 0 1.5rem
      {tac}
#work_and_partners
  .h2
    mt 5.2rem
  .howwork_list
    {tac}
    max-width 100rem
    {mautota}
    {oh}
    mt 5.8rem
    .howw_item
      {vam}
      pa(1rem)
      height 21.1rem
      .howi_ib
        {mautota}
        mt 2rem
        mb 1rem
        height 7rem
        .hib_num
          font(3.1rem,#9b9a9a,1,700)
          mr .5rem
          {vat}
          position relative
          top 1.2rem
        .hib_img
          {vam}
      .howi_p
        font(2rem,#151515,1.3)
        position relative
      &:nth-child(1)
        background-color #e1e7ee
        z-index 10
        .hib_img
          blok(5.8rem,6rem)
          spr(0 -75.5rem)
      &:nth-child(2)
        background-color #cfdae9
        z-index 9
        .hib_img
          blok(6.1rem,6.1rem)
          spr(0 -82rem)
      &:nth-child(3)
        z-index 8
        background-color #c4d2e3
        .hib_img
          blok(6.3rem,5.7rem)
          spr(0 -69.3rem)
      &:nth-child(4)
        z-index 7
        background-color #cfdae9
        .hib_img
          blok(6.2rem,6.2rem)
          spr(0 -95.3rem)
      &:nth-child(5)
        z-index 6
        background-color #e1e7ee
        .hib_img
          blok(7.9rem,4.9rem)
          spr(0 -47.1rem)
          position relative
          top .4rem
    +med(550px)
      .howw_item
        width 30rem
        {mcb}
  .partners_list
    {mauto}
    {sw}
    mt 5.2rem
    mb 3rem
    .partners_item
      {vam}
      &:nth-child(1)
        blok(12rem,8.5rem)
        spr(0 -109.5rem)
      &:nth-child(2)
        blok(15.6rem,4.5rem)
        spr(0 -36.7rem)
      &:nth-child(3)
        blok(11rem,7rem)
        spr(0 -102rem)
      &:nth-child(4)
        blok(17.6rem,4.9rem)
        spr(0 -41.7rem)
      &:nth-child(5)
        blok(9.6rem,8.8rem)
        spr(0 -118.5rem)
    +med(tablet)
      width 100%
      {tac}
      .partners_item
        ma(0 2.5rem 1rem)
    +med(400px)
      .partners_item
        {mcb}
        mb 4rem
#fake_wrap
  box-shadow 0px 1px 5px 0px rgba(0, 0, 0, 0.75)
  grad(#f4f6f7,#e3e4e5)
  {oh}
  .h2
    {clear}
    mt 3rem
    mb 5.4rem
  .fake_body
    {oh}
    mb 3.3rem
    .fake_left
      ml 1rem
      mt 1.8rem
      {fl}
      width 32rem
      p
        font(2.2rem,#151515)
        span
          {ttu}
          color #0664ac
    .fake_right
      {fr}
      width 64rem
      img
        height 15.8rem
  +med(tablet)
    .h2
      mb 1rem
    .fake_body
      width 100%
      .fake_left
        width 100%
        {clear}
        {tac}
        pa(1rem 2rem)
        mb 2rem
      .fake_right
        width 100%
        {clear}
        {tac}
        pa(0 2rem)
        img
          {clear}
          ma 1rem
#contact_wrap
  {oh}
  .h2
    mt 3.5rem
    mb 4.8rem
  .contact_body.sw.oh
    .cont_left
      {fl}
      .conll_up_p
        mt 1.2rem
        ml .5rem
        mb 2.7rem
        p
          font(2.2rem,#151515)
      .conll_tel
      .conll_mail
      .conll_sheld
        .pulse_icon
          ml .5rem
          .pim
            display inline-block
            position relative
            top 0.4rem
            mr 1.3rem
          a
            display inline-block
            font(2.2rem,#151515)
        .order_call.but_t1
          mt .6rem
          ml 3.7rem
          mb .5rem
      .conll_tel
        .pulse_icon
          .pim
            blok(2.4rem,2.4rem)
            spr(0 -7.4rem)
      .conll_mail
        .pulse_icon
          .pim
            blok(2.5rem,1.9rem)
            spr(0 -2.3rem)
      .conll_sheld
        .pulse_icon
          .pim
            blok(2.7rem,2.5rem)
            spr(0 -10.3rem)
          p
            ma(0)
            display inline-block
        p
          font(2.2rem,#151515)
          ml 3.8rem
          span
            font(2rem,#1d487e)
    .cont_right
      {fr}
      .yamap
        blok(60.7rem,36.6rem)
        {oh}
    +med(tablet)
      .cont_left
        {clear}
        mb 2rem
        .conll_up_p
          {mbc}
          {tac}
        .conll_tel
        .conll_mail
        .conll_sheld
          .pulse_icon
            {mautota}
          .order_call.but_t1
            {mautota}
            mt .6rem
            mb .5rem
        .conll_sheld
          p
            {mautota}
      .cont_right
        {clear}
        .yamap
          width 100%
  +med(tablet)
    .h2
      mb 2rem
#footer_wrap
  .footer
    .foo_logo
    .foo_col1
    .foo_col2
    .foo_col3
      {fl}
      strong
        font(1.8rem,#000,1,700)
        display block
        mb 1.2rem
        pt 3.5rem
      a
        display table
        mb .7rem
        {clear}
        span
          font(1.8rem,#000)
    .foo_logo
      width 30%
      mt 2.8rem
      pl 1.3rem
      .fli
        position relative
        blok(4.2rem,4.5rem)
        spr(0 -31.7rem)
        {fl}
        ml 1rem
        top .3rem
        mr .3rem
      .flp1
        display inline-block
        font(3.6rem,#fff,1,700)
      .flp2
        display inline-block
        font(1.4rem,#fff,1)
        ml .3rem
    .foo_col1
      min-width 17%
      pl .6rem
    .foo_col2
      min-width 28%
      pl .4rem
    .foo_col3
      min-width 10%
      pl 1.2rem
+med(tablet)
  #wrap
    pb footerPadT
  #footer_wrap
    height footerPadT
    .footer
      width 100%
      .foo_logo
      .foo_col1
      .foo_col2
      .foo_col3
        {mcb}
        width 100%
      .foo_logo
        {mautota}
        mt 2.8rem
        width 26rem
      .foo_col1
      .foo_col2
      .foo_col3
        {tac}
        a
          {mautota}
#product_wrap
  pb 6rem
  {oh}
  .sw
    .product_up
      .left_menu
        pt 3.4rem
        width 21.5rem
        {fl}
        .lm_list
          > li
            > a
              width 100%
              pa(1.9rem 2rem 1.7rem)
              display block
              background #77afd4
              span
                  font(2.2rem,#fff,1,700)
            &:hover
              > a
                text-shadow 0 0 3px rgba(255,255,255,.75)
                cursor pointer
            &:nth-child(1)
              > a
                background #77afd4
                transition 1s
                &:hover
                  background darken(#77afd4,4%)
            &:nth-child(2)
              > a
                background darken(#77afd4,8%)
                transition 1s
                &:hover
                  background darken(#77afd4,12%)
            &:nth-child(3)
              > a
                background darken(#77afd4,16%)
                transition 1s
                &:hover
                  background darken(#77afd4,20%)
            &:nth-child(4)
              > a
                background darken(#77afd4,24%)
                transition 1s
                &:hover
                  background darken(#77afd4,28%)
            &:nth-child(5)
              > a
                background darken(#77afd4,32%)
                transition 1s
                &:hover
                  background darken(#77afd4,36%)
            &:nth-child(6)
              > a
                background darken(#77afd4,40%)
                transition 1s
                &:hover
                  background darken(#77afd4,44%)
            &:nth-child(7)
              > a
                background darken(#77afd4,48%)
                transition 1s
                &:hover
                  background darken(#77afd4,52%)
            &:nth-child(8)
              > a
                background darken(#77afd4,56%)
                transition 1s
                &:hover
                  background darken(#77afd4,60%)
            ul.lm_subitem
              bim('product_item_bg.jpg',bs:cover,bp:50% 50%)
              // display none
              li
                a
                  width 100%
                  pa(1.6rem 2rem 1.1rem)
                  display block
                  background transparent
                  span
                    font(2rem,#1d487e,1)
              li.active
                a
                  bim('izd_button_grad.jpg',bs:cover,bp:50% 50%)
                  box-shadow 0 0px 5px 1px rgba(0,0,0,.75)
                  position relative
                  z-index 1
                  span
                    font(2rem,#fff,1,700)
              li:hover
                a
                  cursor pointer
                  span
                    transition .5s
                    color #fff
                    text-shadow 0 0 2px rgba(0,0,0,.5)
              li.active:hover
                a
                  cursor default
          li.active
            ul.lm_subitem
              display block
        +med(480px)
          width 98%
          {clear}
          {mautota}
      .product_body
        {oh}
        .breadcrumbs
          mt 3.1rem
          ml 3.2rem
          {clear}
          p
            font(1.6rem,#4f97c6,1)
            a
              font(1.6rem,#4f97c6,1)
              text-decoration underline
              &:hover
                text-decoration none
            span
              font(1.6rem,#4f97c6,1,700)
        .pb_left
          ml 3.3rem
          mt 2.1rem
          width 28.7rem
          {fl}
          a.img_big
            width 100%
            {clear}
            mb 2.1rem
            display block
            img
              width 100%
          .pbl_imagelist
            width 100%
            mb -2rem
            .pbliml_item
            .pbliml_null
              display inline-block
            .pbliml_item
              width 8.2rem
              height 8.5rem
              {oh}
              img
                width 100%
              +med(480px)
                width 30%
                height auto
            .pbliml_null
              width 8.2rem
              height 0
          .pbl_p
            p
              font(1.8rem,#000,1.1)
              mb .7rem
              span
                font(1.8rem,#3a93be,1.1)
          +med(480px)
            width 98%
            pa(1.5rem 1rem)
            {clear}
            {mautota}
        .pb_right
          width 42.7rem
          {fr}
          .h2
            ma(0)
            ml 1.5rem
            mt 1.5rem
            {tar}
          .pbr_param
            width 100%
            mt 3.7rem
            pb .9rem
            border-bottom 1px solid #1d487e
            .pbrp_item
              mb 1rem
              .pbrpi_l
                width 20rem
                display inline-block
                font(2.2rem,#000,1.3,700)
                .dico
                  blok(1.7rem,1.8rem)
                  display inline-block
                  spr(0 0)
                  position relative
                  top .3rem
                  mr 1rem
              .pbrpi_r
                pl 1rem
                display inline-block
                font(2.2rem,#000)
                span
                  font(2.2rem,#1b88bb)
          .pbr_calc
            h3
              font(2.5rem,#1b88bb,1,700)
              mt 1.7rem
              mb 1rem
            .pbrc_item
              width 100%
              mb .8rem
              .pbrci_l
              .pbrci_r
                display inline-block
                vertical-align middle
              .pbrci_l
                width 20rem
                font(2.2rem,#000,1,700)
                .dico
                  blok(1.7rem,1.8rem)
                  display inline-block
                  spr(0 0)
                  position relative
                  top .3rem
                  mr 1rem
              .pbrci_r
                max-width 22rem
                font(2.2rem,#000)
                position relative
                top -.3rem
                input
                  border none
                  outline none
                  width 7rem
                  pa(.3rem 1.5rem)
                  border-radius 5px
                  background #e4e1e1
                  box-shadow 0px 1px 1px 0px rgba(0,0,0,0.07)
                  box-shadow inset 0px 0px 5px 2px rgba(255,255,255,.5)
                span
                  font(2.5rem,#1b88bb,1)
                .min_p
                  font(1.6rem,#000,1.1)
                  mt .3rem
                &:last-child
                  vertical-align top
                  max-width 15rem
            .but_t1
              {fr}
              mr 7.5rem
              mt 0
              +med(480px)
                {clear}
                {mautota}
                pa(0)
                mb 1rem
                mt 1rem
            .pbrc_choise
              width 100%
              mb 2rem
              p
                font(2.2rem,#000,1,700)
                span
                  ml 1rem
                  mr 1.85rem
                  display inline-block
                  position relative
                  top .5rem
                  blok(3.4rem,2.8rem)
                  border none
                  outline none
                  border-radius 5px
                  background #e4e1e1
                  box-shadow 0px 1px 1px 0px rgba(0,0,0,0.07)
                  box-shadow inset 0px 0px 5px 2px rgba(255,255,255,.5)
                  cursor pointer
          +med(480px)
            width 98%
            pa(0 1rem)
            {clear}
            {mautota}
    .product_down
      {clear}
      width 100%
      mt 3.3rem
      p
        font(2rem,#000)
      +med(480px)
        width 98%
        pa(0 1rem)
        {clear}
        {mautota}
